{% extends "base.html" %}

{% block content %}

<article>
    <header>
        <h1>For sale!</h1>
    </header>
    <section>
        <h3 style="font-family: georgia, garamond, serif; font-size: 20px; font-style: italic;">
        Golden Retriever</h3>
        <body>
            <img src="/../static/img/golden_retriever.jpeg" alt="Puppy">
            <p><b>Height:</b> 12 inches</p>
                <p><b>Weight:</b> 15 pounds </p>
                <p><b>Description:</b> A sedentary dog, content to sit on your lap as you read a book or watch a movie. He is a playful, comical dog that enjoys living it up, and delights his owner with silly antics. </p>
            </body>
            
        </section>
        <section>
            <h3 style = "font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">Rottweiler</h3>
            <body>
                <img src="/../static/img/rottweiler.jpeg" alt="Puppy" maxWidth="200px" height="200px">  
                <p><b>Height:</b> 14 inches</p>
                <p><b>Weight:</b> 17 pounds </p>
                <p><b>Description:</b> She is said to have human-like intelligence, and amazing cleverness that astounds her owners. She learns fast and remembers everything. She is very protective of her home and family.  </p>
            </body>
		</section>
        </body>
    </section>
</article>

{% endblock %}